<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>obj\Debug\Package\BlogEngine.NET.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>CompareCloudwareUX/blog</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="xCompareCloudware.POCOQueryRepository.CompareCloudwareContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User ID=sa;Password=&quot;Her0sandwich=sql&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xCompareCloudware.POCOQueryRepository.CompareCloudwareContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=94.126.43.196;Initial Catalog=CompareCloudwareStaging;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BlogEngine" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=94.126.43.196;Initial Catalog=BlogEngine;Integrated Security=False;User ID=sa;Password=&quot;Her0sandwich=sql&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlogEngine_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=94.126.43.196;Initial Catalog=BlogEngine;Integrated Security=False;Trusted_Connection=False;User Id=sa;Password=Her0sandwich=sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="yBlogEngine" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.51.3;Initial Catalog=BlogEngine;Integrated Security=False;User ID=sa;Password=&quot;Her0sandwich=sql&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\yBlogEngine_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.51.3;Initial Catalog=BlogEngine;Integrated Security=False;Trusted_Connection=False;User Id=sa;Password=Her0sandwich=sql" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="zBlogEngine" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GLYN-LAPTOP\SQLEXPRESS;Initial Catalog=BlogEngine;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\zBlogEngine_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=GLYN-LAPTOP\SQLEXPRESS;Database=BlogEngine;Trusted_Connection=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogEngine-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)xCompareCloudware.POCOQueryRepository.CompareCloudwareContext-Web.config Connection String" />
  </ItemGroup>
</Project>